#!/not/executable
#
# Copyright (c) 2000-2021 Matthew Pearson <matthewpearson@gmail.com>.
#
# These scripts are free. There is no warranty; your mileage may vary.
# Visit http://creativecommons.org/licenses/by-nc-sa/4.0/ for more details.
#
# configuration options for the env system
#

#
# This file is sourced by sh, ksh, and make, so the syntax is rather
# restricted; i.e., no comments after a line; no $substitution after
# an equal sign w/o braces; no metacharacters, pipes, spaces, etc.
#

# fully qualified path to directory where env basefiles are installed
G_BASE=${HOME}/env

# fully qualified path to virtualenv directory
G_WORKON_HOME=${HOME}/venv

# unix username in /etc/passwd
G_USER=mdp

# your actual name, one that fellow-humans call you
G_USER_TRUENAME="Matthew Pearson"

# your email address (used for hg and git commits)
G_USER_EMAIL="matthewpearson@gmail.com"

# your favorite printer accessible via lp/lpr
G_PRINTER=ursula

# location of primary child workspace
G_WORKSPACE="${HOME}/Sandbox"

# location of remote workspace, if one exists
G_REMOTE_WS=

# additional components of PATH, space-delimited,
# replace spaces within path with "___", MUST BE ONE LINE
G_PATH="/Applications/BBEdit.app/Contents/Helpers /Applications/TextWrangler.app/Contents/Helpers /Library/Frameworks/Mono.framework/Versions/Current/bin /Applications/Xamarin___Studio.app/Contents/MacOS ${HOME}/External/mono-current/bin $G_WORKSPACE/DigitalLibrary/tools/MbUnit /Applications/CMake.app/Contents/bin"

# additional components of MANPATH, space-delimited,
# replace spaces within path with "___", MUST BE ONE LINE
G_MANPATH="/Library/Frameworks/Mono.Framework/Versions/Current/share/man"

# additional components of DYLD_FALLBACK_LIBRARY_PATH, space-delimited,
# replace spaces within path with "___", MUST BE ONE LINE
G_DYLD_FALLBACK_LIBRARY_PATH="/Library/Frameworks/Mono.framework/Versions/Current/lib"

# additional components of PKG_CONFIG_PATH, space-delimited,
# replace spaces within path with "___", MUST BE ONE LINE
G_PKG_CONFIG_PATH="/Library/Frameworks/Mono.framework/Versions/Current/lib/pkgconfig/ $HOME/External/mono-current/lib/pkgconfig"

# flags to add to ACLOCAL_FLAGS, no substitutions performed, MUST BE ONE LINE
G_ACLOCAL_FLAGS="-I /Library/Frameworks/Mono.framework/Versions/Current/share/aclocal -I /usr/local/share/aclocal"

# additional dotkits, space-delimited, MUST BE ONE LINE
G_DOTKITS=

# if you wish to enable X, set this to "yes", otherwise leave it as "no"
G_SET_DISPLAY=no

# if the machine is administered by Broad IT staff who require that certain
# dotfiles begin with ".my", then set this to "yes", otherwise leave it as "no"
G_DOTFILES_BEGIN_WITH_MY=no

# if using FVWM2, set this to "yes"; otherwise, skip the rest of this file
G_USE_FVWM=no

# name of color scheme: bluegrey, wheat, ivory
G_SCHEME=bluegrey

# full path to fvwm2
G_FVWM_EXEC_CMD=$HOME/bin/fvwm2

# location of fvwm modules
G_FVWM_MODULE_PATH=$HOME/libexec/fvwm/latest

# colon-separated paths to fvwm icons
G_FVWM_IMAGE_PATH=$HOME/share/icons:/usr/dt/appconfig/icons/C

#EOF
